extends layout


block content
	.container
		.row: .col-md-12.text-center: a(href="/"): img.block-center.img-responsive(src="/images/logo-512x192.png")
		br
		section.row
			.col-md-6
				h2.page-header() US Matches
				+writeMatches(matchLists.US)
			.col-md-6 
				h2.page-header() EU Matches
				+writeMatches(matchLists.EU)

		section.row
			.col-md-6
				h3.page-header US Worlds
				+writeWorlds(worldLists.US)
			.col-md-6
				h3.page-header EU Worlds
				+writeWorlds(worldLists.EU)


block bodyClose
	script(src="//www.google.com/jsapi")
	script.
		window.webSocketChannel = 'overview';
		window.serverTimeOffset = #{Math.floor(Date.now() / 1000)} - Math.floor(Date.now() / 1000);
		google.load('visualization', '1', {packages: ['corechart']});





mixin writeMatches(matchList)
	section.overview
		-var matchNum = 0;
		each matchId in matchList
			-matchNum++;
			-match = matches[matchId]
			//-tr: td(colspan=3)= match.getId()
			.match.row(id="match"+ matchId, data-matchid=matchId)
				.worlds.col-md-9.col-xs-9
					each world, worldIndex in [match.redWorld, match.blueWorld, match.greenWorld]
						-var team = ['red', 'blue', 'green'][worldIndex];
						.world.row(id="world"+ world.id, class=['team', team], data-worldIndex=worldIndex)
							.name.col-md-9.col-xs-8
								a(href=world[urlLang].link, class=['team', team])= world[urlLang].name
							.score.col-md-3.col-xs-4(data-score= match.scores[worldIndex])
								= match.scoresFormatted[worldIndex]

				.col-md-3.col-xs-3
					.pie(id="pie"+ matchId)
					//- canvas(width="90", height="90")
			//-
				each world, worldIndex in [match.redWorld, match.blueWorld, match.greenWorld]
					-var team = ['red', 'blue', 'green'][worldIndex];
					-var trClass = ['group' + (matchNum%2), 'match' + match.id, 'team', team];
					-var aClass = ['team', team].join(' ');
					-var scoreNumeric = match.scores[worldIndex];
					-var scoreFormatted = match.scoresFormatted[worldIndex];
					tr(id='world' + world.id, class=trClass)
						td.name:  a(href=world.link, class=aClass)= world.name
						td.score(data-score=scoreNumeric)= scoreFormatted
						if(worldIndex === 0)
							td.pie(rowspan=3, align="center", valign="center")


mixin writeWorlds(worldList)
	ul
		each worldId in worldList
			-var world = worlds[worldId]
			li: a(href=world[urlLang].link)= world[urlLang].name
