extends layout


mixin writeMatchesTable(matches)
    table(class="table table-condensed table-hover overview")
        -var matchNum = 0;
        each match, matchIndex in matches
            -matchNum++;
            -var matchDetails = GLOBAL.GW2.matchDetails[match.wvw_match_id];
            each worldIdKey, worldIndex in ['red_world_id', 'blue_world_id', 'green_world_id']
                -var thisWorldId = match[worldIdKey]
                -var world = dataHandler.getWorldById(lang, thisWorldId);
                -var team = (worldIndex === 0) ? 'red' : ((worldIndex === 1) ? 'blue' : 'green');
                -var trClass = ['group group' + (matchNum%2), 'match' + match.wvw_match_id].join(' ');
                -var aClass = ['team ' + team].join(' ');
                tr(class=trClass, id='world' + thisWorldId)
                    td
                        a(href=world.link, class=aClass)= world.name
                    td(class='score')= humanize.numberFormat(matchDetails.scores[worldIndex], 0)

mixin writeWorlds(worlds)
    ul
        each world, worldIndex in worlds
            li
                a(href=world.link)= world.name


block content

    div(class="container")
        div(class="row")
            div(class="col-md-12")
                h1(class='page-header')= title
                p Welcome to #{title}

    
        div(class="row")
            div(class="col-md-6")
                +writeMatchesTable(matches.US)
            div(class="col-md-6")
                +writeMatchesTable(matches.EU)

        div(class="row")
            div(class="col-md-6")
                +writeWorlds(worlds.US)
            div(class="col-md-6")
                +writeWorlds(worlds.EU)
   

block scripts     
        script.
            $(function(){subscribeToUpdates('overview')})