extends layout



block content

    div(class="container")
        div(class="row")
            div(class="col-md-12")
                h1(class='page-header')= title

        br
        div(class="row totalScores")
            each world, worldIndex in [match.getRedWorld(lang), match.getBlueWorld(lang), match.getGreenWorld(lang)]
                -var team = ['red', 'blue', 'green'][worldIndex];
                div(class="col-md-4")
                    div(class="well team " + team)
                        h2(class="text-center")= world.name
                        h3(class="score text-center")= humanize.numberFormat(scores[worldIndex], 0)

        div(class="row")
            -var ixMap = 0;
            each objectiveGroup, objectiveGroupName in objectiveGroups
                div(class="col-md-3", title=objectiveGroupName)
                    h4(class="text-center")= mapNames[ixMap++]
                    each section, sectionName in objectiveGroup
                        div(class=section.groupClass, title=sectionName)
                            //h5= sectionName
                            ul(class="list-unstyled")
                                each objectiveId, ixObjective in section.objectives
                                    -var objective = objectives[objectiveId];
                                    -var matchObjective = matchObjectives[objective.id];
                                    -var objectiveOwner = matchObjective.owner.toLowerCase()
                                    -var objectiveGuild = matchObjective.owner_guild
                                    -var liClass = ['objective', 'team', objectiveOwner, 'clearfix'].join(' ');
                                    -var spriteClass = ['sprite', objective.objectiveType.type, objectiveOwner].join(' ');
                                    li(class=liClass, id="objective-" + objective.id, data-lastcaptured=objectiveState[objective.id].lastCaptured)
                                        span(class=spriteClass)
                                        span()= objective.getCommonName(lang)
                                        if objectiveGuild
                                            span(class='guild-' + objectiveGuild)
                                        span(class='timer')= ''

   

block scripts     
    script.
        $(function(){subscribeToUpdates('match#{match.id}', Math.floor(Date.now() / 1000));});